<div class="list_container">
  
  <div *ngIf="todoError !== null && todoError.message">
    <div class="alert" role="alert">
      <span>Some error occurred. Please try again.</span>
    </div>
  </div>

  <div class="list_container__item" *ngFor="let todo of ToDoList" (click)="handleToDoDone(todo._id!)">
      <span [ngClass]="{'done': todo.done}" class="list_container__title">{{todo.title}}</span>
      <span [ngClass]="{'done': todo.done}" class="list_container__content">{{todo.content}}</span>
      <div class="list_container__delete_btn" (click)="handleDeleteToDo(todo._id!)">x</div>
      <span class="list_container__date">{{todo.date}}</span>
  </div>
</div>