.list_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px;
  border-radius: 7px;
  color: rgb(212, 209, 209);
  opacity: 0.8;
}

.list_container__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #3d3d3d;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.list_container__title {
  color: orange;
  font-size: 1.2rem;
}

.list_container__content {
  word-break: break-all;
  color: rgb(216, 211, 211);
}

.list_container__delete_btn {
  display: flex;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 1.5rem;
  width: 20px;
  height: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: rgb(141, 25, 25);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    color: rgb(71, 7, 7)
  }
}

.alert {
  color: rgb(65, 39, 39);
  text-align: center;
}

.list_container__date {
  font-size: 0.8rem;
  align-self: flex-end;
  font-style: italic;
}

.done {
  text-decoration: line-through;
  opacity: 0.3;
}