<form
  class="form_container"
  [formGroup]="animalForm"
  (ngSubmit)="handleAddAnimal()"
>
  <label>
    <span>Name: </span>
    <input 
      class="form_container__input" 
      type="text"
      formControlName="name" 
      placeholder="Add new animal..."       
    >
  </label>

<select formControlName="type">
  <!-- <option [ngValue]="null" disabled>Choose your profile</option> -->
  <option *ngFor="let type of types" [ngValue]="type">
    {{ type }}
  </option>
</select>

  <button type="submit" [disabled]="!animalForm.valid">Add</button>
</form>
