<form
  class="form_container"
  [formGroup]="todoForm"
  (ngSubmit)="handleAddToDo()"
>
  <label>
    <span>Title: </span>

    <input
      class="form_container__input"
      type="text"
      formControlName="title"
      placeholder="Todo title..."
    >
  </label>

  <label>
    <span>Content: </span>

    <input
      class="form_container__input"
      type="text"
      formControlName="content"
      placeholder="Todo content..."
    >
    
  </label>

  <button 
    type="submit" 
    [disabled]="!todoForm.valid"
  >
    Add
</button>

</form>