.form_container {
  background-color: rgb(255 255 255 / 25%);
  padding: 20px;
  border: 1px solid rgb(27, 26, 26);
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form_container__input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(46, 44, 44);
}