.switch_container {
  margin: 0 auto;
  display: flex;
  width: 30%;
  min-width: 280px;
  max-width: 100%;
  align-items: center;
  justify-content: flex-end;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 1px solid rgb(228, 226, 226);
}

label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background: orange;
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}